.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-form{
  border: 1px solid black;
  width: 20rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;


}
.result-box{
  border: 1px solid black;
  width: 20rem;
  height: 30rem;
  text-align: left;
}